.checkoutProduct{
    display:flex;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.checkoutproduct_info{
    padding-left: 40px;

}

.checkoutproduct_info>button{
    border-color: #a88734 #9c7e31 #846a29;
    border:1px solid;
    margin-top: 10px;
    color:#ffffff;
    background: #30404d;

}
.checkoutproduct_info>button:hover{
    cursor: pointer;
    color: rgb(166, 191, 211);
}
.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct_price{
    font-size: 17px;
    font-weight: 800;
}